:root{
    --Font-Commissioner: 'Commissioner', sans-serif;
    --Font-Inter: 'Inter', sans-serif;
    --Font-Poppins: 'Poppins', sans-serif;
    --Font-Roboto: 'Roboto', sans-serif;
    --Font-Bitter: 'Bitter', serif;
    --Font-Space-Mono: 'Space Mono', monospace;
    --Color-Black: #000;
    --Color-White: #fff;
    --Color-Blue: #130fe7;
    --Color-Orange: rgb(255, 69, 0);
    --Color-Orange-2: rgb(250, 106, 54);
    --Color-Blue-2: #050e8a;
    --Color-Yellow: #d0ff00;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_pd{
    padding: 25px 100px;
}
.section_mg{
    margin: 50px 100px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--Color-Orange-2);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: var(--Font-Inter);
    font-size: 30px;
    font-weight: 500;
}
.logo span{
    color: var(--Color-Yellow);
}
.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
.explore{
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 2px 3px;
    border: 1px solid var(--Color-White);
    cursor: pointer;
}
.explore:hover{
    border: 2px solid var(--Color-Black);
}
.explore i{
    font-size: 30px;
}
.explore span{
    font-family: var(--Font-Space-Mono);
    font-size: 26px;
    font-weight: 600;
}
.menu form{
    display: flex;
}
.menu form input{
    width: 250px;
    height: 40px;
    font-size: 26px;
    color: var(--Color-Black);
    font-weight: 400;
    font-family: var(--Font-Inter);
    border: 1px solid var(--Color-White);
    background-color: transparent;
    padding: 1px 3px;
    outline: none;
    cursor: pointer;
}
.menu form input::placeholder{
    color: var(--Color-Black);
    font-weight: 400;
}
.menu form input:focus{
    border: 2px solid var(--Color-Black);
}
.menu form input:hover{
    border: 2px solid var(--Color-Black);
}
.menu form button{
    background-color: transparent;
    border: none;
}
.menu form button i{
    font-size: 26px;
    margin-left: -30px;
}
.main_container{
    padding: 50px 10px;
    display: flex;
    width: 100%;
}
.cta{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.cta h1{
    font-size: 65px;
    font-family: var(--Font-Poppins);
    font-weight: 500;
}
.cta h1 span{
    color: var(--Color-Blue-2);
    font-weight: 700;
}
.cta p{
    width: 95%;
    text-align: left;
    font-size: 22px;
    font-family: var(--Font-Commissioner);
    font-weight: 500;
}
.cta button{
    margin-top: 10px;
    width: 250px;
    height: 50px;
    font-family: var(--Font-Roboto);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.cta button:hover{
    border: 1.5px solid var(--Color-White);
    border-radius: 3px;
    background-color: transparent;
}
.log_in{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 25px;
    width: 30%;
    min-height: 300px;
    background-color: var(--Color-White);
    opacity: 0.6;
    border: 2px solid var(--Color-Black);
    box-shadow: none;
    border-radius: 7px;
    padding: 20px;
}
.log_in form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.log_in form h3{
    text-align: center;
    font-size: 30px;
    font-family: var(--Font-Inter);
    color: var(--Color-Black);
    font-weight: 700;
}
.log_in form i{
    font-size: 25px;
}
.log_in form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--Color-Black);
    outline: none;
    color: var(--Color-Black);
    font-family: var(--Font-Roboto);
    font-size: 15px;
}
.log_in form span{
    margin-bottom: -15px;
    color: var(--Color-Black);
    font-family: var(--Font-Inter);
}
.log_in form button{
    width: 100%;
    padding: 3px 0;
    font-family: var(--Font-Inter);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--Color-Black);
    border-radius: 3px;
}
.log_in form button:hover{
    background-color: var(--Color-Black);
    color: var(--Color-White);
}
.log_in_w{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.log_in_w h5{
    font-family: var(--Font-Inter);
    font-size: 18px;
    color: var(--Color-Blue);
}
.ggle{
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: space-between
}
.ggle i{
    font-size: 35px;
    cursor: pointer;
}
.ggle i:hover{
    font-size: 50px;
}

.sign_up{
    display: none;
    position: absolute;
    width: 30%;
    background-color: var(--Color-White);
    opacity: 0.9;
    border-radius: 5px;
    padding: 20px;
    top: 25px;
    left: 40%;
}
.sign_up form{
    display: grid;
    gap: 15px;
}
.sign_up form i{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.sign_up form i:hover{
    color: var(--Color-Yellow);
    font-size: 30px;
}
.sign_up form h3{
    text-align: center;
    font-size: 30px;
    font-family: var(--Font-Inter);
    color: var(--Color-Black);
    font-weight: 700;
}
.sign_up form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--Color-Black);
    outline: none;
    color: var(--Color-Black);
    font-weight: 500;
    font-family: var(--Font-Roboto);
    font-size: 17px;
}
.sign_up form span{
    margin-bottom: -5px;
    color: var(--Color-Black);
    font-family: var(--Font-Inter);
}
.sign_up form button{
    margin-top: -15px;
    width: 100%;
    padding: 3px 0;
    font-family: var(--Font-Inter);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--Color-Black);
    border-radius: 3px;
}
.sign_up form button:hover{
    background-color: var(--Color-Black);
    color: var(--Color-White);
}
.sign_up_w{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sign_up_w h5{
    font-family: var(--Font-Inter);
    font-size: 18px;
    color: var(--Color-Blue);
}
@media screen and (max-width: 375px) {
    .section_pd{
        padding: 5px;
    }
    .container{
        width: 100%;
    }   
    .header{
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .main_container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .cta{
        width: 100%;
    }
    .cta h1{
        line-height: 0.9em;
        margin-bottom: 10px;
    }
    .log_in{
        width: 90%;
    }
    .sign_up{
        display: grid;
        width: 90%;
        left: 15px;
    }
}